<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>PM ToolBox</title>
</head>
<body>
<div id='app'>App</div>
<script src="{{ url_for('static', filename='js/bundle.js', u=last_modified) }}"></script>
</body>
</html>